@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
  font-size: 3em;
  background-color: black;
  color: white;
  padding: 1em;
}
h1 {
  font-size: 1.4em;
  font-family: "Carter One";
  text-align: center;
  margin: 0;
}
#quest {
  position: relative;
  height: 9.9em;
  width: 9.9em;
  margin: 0 auto;
}
#quest span {
  position: absolute;
  height: 1.1em;
  width: 1.1em;
  margin: 0;
  text-align: center;
  line-height: 1.2em;
  transition: left .25s ease-in, top .25s ease-in;
}
span[data-x="-1"] {
  left: -1.1em;
}
span[data-x="0"] {
  left: 0;
}
span[data-x="1"] {
  left: 1.1em;
}
span[data-x="2"] {
  left: 2.2em;
}
span[data-x="3"] {
  left: 3.3em;
}
span[data-x="4"] {
  left: 4.4em;
}
span[data-x="5"] {
  left: 5.5em;
}
span[data-x="6"] {
  left: 6.6em;
}
span[data-x="7"] {
  left: 7.7em;
}
span[data-x="8"] {
  left: 8.8em;
}
span[data-y="-1"] {
  top: -1.1em;
}
span[data-y="0"] {
  top: 0;
}
span[data-y="1"] {
  top: 1.1em;
}
span[data-y="2"] {
  top: 2.2em;
}
span[data-y="3"] {
  top: 3.3em;
}
span[data-y="4"] {
  top: 4.4em;
}
span[data-y="5"] {
  top: 5.5em;
}
span[data-y="6"] {
  top: 6.6em;
}
span[data-y="7"] {
  top: 7.7em;
}
span[data-y="8"] {
  top: 8.8em;
}
